<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="param" type="com.pertamina.monica.helper.QueryParameter" />
		<typeAlias alias="POTEXT180" type="com.pertamina.monica.domain.POTEXT180" />
		<typeAlias alias="REQITEM" type="com.pertamina.monica.domain.REQITEM" />
	</typeAliases>

	<mappers>
		<mapper resource="com/pertamina/monica/mybatis/POTEXT180.xml" />
		<mapper resource="com/pertamina/monica/mybatis/REQITEM.xml" />
	</mappers>

</configuration>
