* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.card-columns {
	@include media-breakpoint-only(lg) { column-count: 4; }
	@include media-breakpoint-only(xl) { column-count: 5; }
}
#formSearch input:focus, #formSearch button.btn:focus, #formSearch input.form-control:focus {
	z-index: 0;
	outline:none !important;
	outline-width: 0 !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.imageThumb {
	max-height: 100px;
	border: 1px solid;
	padding: 2px;
	cursor: pointer;
}
.pip {
	display: inline-block;
	margin: 10px 10px 0 0;
}